@model PagedList.IPagedList<BookStoreVer2.Models.Book>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/main.css" rel="stylesheet" />
<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    Search
    <input type="text" id="search" />
    <div id="products" class="row list-group">
        @foreach (var item in Model)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="@Url.Action("Detail", "Books", new { id = item.Id })"> <img class="group list-group-image" src="@item.Image" alt="@item.Title" width="500" height="100"> </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @item.Title
                        </h4>
                        <p class="group inner list-group-item-text">
                            @item.Description
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    $@item.Price
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href=@Url.Action("AddToCart", "Cart", new {id = item.Id})> Thêm vào giỏ hàng </a>


                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        }
    </div>
</div>
    
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="~/Content/Js/main.js"></script>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))